* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: cursive, sans-serif;
}

body {
  text-align: center;
  background-color: #2b065c;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #fff;
}

h1,
h2,
h3 {
  margin: 0.5em 0;
}

#level-title {
  font-size: 2rem;
  color: aliceblue;
  line-height: 1.3;
}

.container {
  width: 90%;
  max-width: 600px;
  margin: 0 auto;
}

.row {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn {
  margin: 19px;
  display: inline-block;
  height: 140px;
  width: 140px;

  border: 9px solid rgb(255, 255, 255);
  border-radius: 20%;
  background: #e0e0e0;
  box-shadow: 20px 20px 60px #170530, -20px -20px 60px #56229b;
}

button {
  margin: 1em 0;
  padding: 0.5em 1em;
  width: 100%;
  max-width: 100px;
  text-align: center;
  font-size: 1em;
  color: #2b065c;
  background-color: #fff;
  border-radius: 6px;
  border: none;
}

.game-over {
  background-color: rgb(177, 128, 128);
  opacity: 0.9;
}

.red {
  background-color: rgb(238, 29, 29);
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

.yellow {
  background-color: yellow;
}

.pressed {
  box-shadow: 2px 0 90px rgb(97, 48, 48);
  background-color: rgb(221, 220, 220);
}

@media only screen and (max-width: 600px) {
  .btn {
    width: 100px;
    height: 100px;
  }
  #level-title {
    font-size: 1.6rem;
  }
}
